.menu-wrap, .main-menu-nav, #highlight, #scroll-menu,
.view-popular-tags a:hover,
.store-carousel-navigation a,
.store-featured-carousel-navigation a,  
.portfolio-carousel-navigation a,
.main-menu-nav .menu ul li:hover,
.portfolio-project-button,
.ei-title h2 {
	background: rgb(148, 71, 219);
}

.caroufredsel_wrapper .store-item:hover {
	border-bottom: 2px solid rgb(148, 71, 219) !important;
}

#services .span3:hover i {
	color: rgb(148, 71, 219);
}